@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  height: 100%;
}
body {
  background-color: #FFFBF5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
svg {
  background-color: #F7EFE5;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0px;
}
.bar {
  background-color: #C8B6A6;
  border-color: #674188;
  fill: #674188;
}
.bar:hover {
  fill: #C3ACD0;
}
g {
  color: #17252a;
}
#tooltip {
  margin-top: 10px;
  color: #674188;
  font-size: 20px;
}
#title {
  font-size: 30px;
  color: black;
}